<section id="contact">
    {% include volcan.html %}

    <div class="section-content">
        {% include navigation.html %}

        <div class="grid-container-2col">
    		<div class="column1">
    			<div class="title">
    				L'équipe
    			</div>
    			<div class="main-text">
    				composition du collectif en 2020
    			</div>
    		</div>

    		<div class="column2 main-text">
    			<div class="team">
                    {% for member in page.team.members %}
                    	<div class="member">
                    		<img src="{{ member.image | relative_url }}">
                    		<div class="name">
                    			{{ member.name }}
                    		</div>
                    		<div class="poste">
                    			{{ member.poste }}
                    		</div> 
                    	</div>
                    {% endfor %}

    			</div>
    		</div>
    	</div>

        <div class="grid-container-3col">
    		<div class="column1 title">
    			Contactez-nous
    		</div>

    		<div class="column2 main-text">
    			Devenir bénévole ou faire parti du collectif? 
    			Devenir futur.e résident.e? 
    			Avoir des infos sur le projet car vous êtes curieuse ou curieux?
    			<br><br>
    			Ecrivez nous à asso.enveloppe@gmail.com
    			et suivez nous sur facebook et instagram.
    			<br><br>
    			<div class="address">
                    Asociation <b>l’enveloppe</b><br>
                    7 Rue Vidal<br>
                    07100 Annonay, France<br>
                    asso.enveloppe@gmail.com
                </div>
    		</div>
            <br>
            <br>

    		<div class="column3 main-text">
    			<div class="title">
    				Écrivez-nous
    			</div>

    			<form name="sentMessage" id="contactForm" novalidate action="https://airform.io/asso.enveloppe@gmail.com" method="POST">
                            <div class="control-group form-group">
                                <span>* Nom : </span><input type="text" class="form-control" placeholder="..." name="nom" id="name" required data-validation-required-message="Veuillez renseigner votre nom" autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                * Prénom : <input type="tel" class="form-control" placeholder="..." name="prenom" id="prenom" autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                * Email : <input type="email" class="form-control" placeholder="..." name="email" id="email" required data-validation-required-message="Veuillez renseigner votre email" autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                * Message : <br><textarea class="form-control" placeholder="..." name="message" id="message" required data-validation-required-message="Veuillez écrire quelque chose" autocomplete="off"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Envoyer</button>
                        </div>
                </form>
    		</div>
    	</div>
    </div>
</section>
