    <footer>
        <div class="legal">
            <div class="full-width main-text">
                Mentions légales - conception graphique : <a href="http://jeremybarrault.com" target="_blank">jeremybarrault.com</a> - développement : <a href="mailto:gregoire.colson@protonmail.com">Grégoire Colson</a>
            </div>
        </div>
    </footer>
