    <!-- Header -->

    <header>
        <div class="side-fixed">
            <div class="logo">
                <a href="/">M<br>A<br>G<br>M<br>A<br></a>
                <div class="punchline">
                    Maison d’AGitation Multiculturelle et Alternative
                </div>
            </div>
        </div>
    </header>
