<section id="home">
	<div class="section-header">
		<div class="main-image">
		    <img src="assets/img/photos/principale_1500.png">
		</div>
	</div>

    {% include volcan.html %}

    <div class="section-content">
	    {% include navigation.html %}

		<div class="grid-container-3col">
			<div class="column1 title">
				La MAGMA, <br>c'est quoi? 
			</div>

			<div class="column2 main-text">
				La Magma, c’est avant tout un projet associatif porté par un collectif. L’association porteuse, l’Enveloppe, est née en janvier 2018, et a pour objectif de:
				<ul>
					<li>
						Développer un lieu de partage de biens, de savoirs et de savoir-faire par la mise en réseau du lieu et de ses occupant.e.s .
					</li>
					<li>
						Contribuer au développement du territoire à travers la création de nouvelles activités économiques (savoir-faire locaux & innovation).
					</li>
				</ul>
			</div>

			<div class="column3 main-text">
				<ul>
					<li>
						Placer l’humain au cœur du projet pour une construction collective (dynamique citoyenne par la participation).
					</li>
					<li>
						Participer à la préservation et à la valorisation du patrimoine industriel local (valorisation des anciennes activités par la conservation de l’âme des lieux).
					</li>
				</ul>
				L’association est fédérative,  afin de pouvoir intégrer d’autres projets ainsi que leurs associations en son sein. 
			</div>
		</div>


		<div class="grid-container-1col">
			<div class="full-width title text-big">
				Le projet MAGMA est né d’une construction de plusieurs idées, toutes tournées vers l’envie de créer quelque chose d’encore inexistant sur le sol annonéen. C'est la connivence de plusieurs volontés individuelles qui ont formé le collectif de la MAGMA. Regroupé au sein de l’association “l’Enveloppe”, le collectif œuvre à l'ouverture d'un tiers-lieu innovant et convivial: la MAGMA ; Maison d’AGitation Multiculturelle Alternative 
			</div>
		</div>


		<div class="grid-container-3col">
			<div class="column1 title">
				Et dans la pratique ?
			</div>

			<div class="column2 main-text">
				Tout d’abord, la Magma, c’est une Maison d’AGitation Multiculturelle et Alternative.<br>
				Le projet vise à réinvestir une friche industrielle située dans le quartier de Cance à Annonay, en Ardèche du nord, et mettre tout l’espace au service des habitant.es de la ville et des alentours. 
				<br>
				<br>
				Considéré comme un tiers lieu, la Magma a pour vocation de proposer des  espaces de mise en commun de connaissances, de compétences, d’interactions sociales, culturelles et professionnelles, favorisant la cohésion des usager.es par l’entraide et la bienveillance.


			</div>

			<div class="column3 main-text">
				Concrètement, il s’agit de mettre à disposition des locaux adaptés à l’artisanat, à la création artistique, au télétravail ou encore au travail associatif, en proposant différents espaces:
				<ul>
					<li>
						des bureaux individuels et partagés
					</li>
					<li>
						des salles de réunion
					</li>
					<li>
						des ateliers d’artistes ou d’artisan⋅es
					</li>
					<li>
						un espace de coworking
					</li>
					<li>
						un plateau d’expression corporelle et artistique
					</li>
					<li>
						un espace atelier d’artistes partagé
					</li>
					<li>
						un espace musique
					</li>
					<li>
						un café associatif
					</li>
				</ul>
			</div>
		</div>


		<div class="grid-container-2col">
			<div class="column1 title">
				Les différents espaces
			</div>

			<div class="column2">
				<div class="etage">
					<img class="img-full" src="assets/img/plans/Magma-R2.png">
				</div>
				<div class="etage">
					<img class="img-full" src="assets/img/plans/Magma-R1.png">
				</div>
				<div class="etage">
					<img class="img-full" src="assets/img/plans/Magma-Rdc.png">
				</div>
			</div>
		</div>


		<div class="grid-container-1col">
			<div class="full-width column-carousel">
	            <div class="splide">
	                <div class="splide__progress">
	                    <div class="splide__progress__bar">
	                    </div>
	                </div>
	                <div class="splide__track">
	                    <ul class="splide__list">
	                        {% for diapo in page.diapos %}
	                        <li class="splide__slide">
	                            <img src="{{ diapo.url | relative_url }}" alt="slide of materiel section">
	                        </li>
	                        {% endfor %}
	                    </ul>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</section>