{% assign mypages = site.pages | sort: "order" %}
<div class="navigation">
	{% for p in mypages %}
		{% if p.show-link == true %}
			{% if page.menu-name == p.menu-name %}
				<span class="nav-link-current">
			{% else %}
				<span class="nav-link">
			{% endif %}
					<a href="{{ p.url | relative_url }}">
						{{ p.menu-name }}
					</a>
				</span>
		{% endif %}
	{% endfor %}
</div>
