// SIDE-FIXED

.side-fixed {
  position: fixed;
  font-family: $font-primary;
  color: $color-primary;
  font-size: $base-font-size;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: $side-width;
  margin-top: 3vh;

  .logo {
    padding-left: 1vw;
    font-size: 40px;
    font-weight: $font-weight-bold;
    // text-align: center;
    line-height: 1;
  }

  .punchline {
    transform: rotate(270deg);
    font-family: $font-secondary;
    font-weight: $font-weight-semibold;
    position: relative;
    margin-left: -1vw;
    font-size: 10px;
    top: 2em;
    line-height: 1.2em;
    width: 6em;
  }

}

// @media(min-height: 375px) {
//   .side-fixed {
//     left: auto;
//     width: $side-width;
//     margin-top: 6vh;
    
//     .logo {
//       font-size: 48px;
//     }

//     .punchline {
//       font-size: 12px;
//       width: 14ex;
//       // left: 4vw;
//     }
//   }
// }

@media(min-height: 480px) {
  .side-fixed {
    left: auto;
    
    .logo {
      font-size: 60px;
      padding-left: 2vw;
    }

    .punchline {
      font-size: 15px;
      // left: 4vw;
    }
  }
}



// VOLCAN

.volcan {
  position: fixed;
  width: 10ex;

  left: 0;
  right: auto;
  bottom: 2vh;

  img {
    width: 100%;
  }
}

@media(orientation: landscape) {
    .volcan {
      width: 14vw;
      left: auto;
      right: 5ex;
    }
}