
@font-face {
  font-family: 'NowAltmagma-Bold';
  src: url('../fonts/NowAltmagma-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/NowAltmagma-Bold.otf')  format('opentype'),
	     url('../fonts/NowAltmagma-Bold.woff') format('woff'), url('../fonts/NowAltmagma-Bold.ttf')  format('truetype'), url('../fonts/NowAltmagma-Bold.svg#NowAltmagma-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'NowAltRegular';
    font-style: normal;
    font-weight: normal;
    src: local('Now Alt Regular'), url('../fonts/NowAlt-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Recoleta-Bold';
  src: url('../fonts/recoleta-bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/recoleta-bold.woff') format('woff'), url('../fonts/recoleta-bold.ttf')  format('truetype'), url('../fonts/recoleta-bold.svg#recoleta-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Recoleta-Regular';
  src: url('../fonts/recoleta-regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/recoleta-regular.woff') format('woff'), url('../fonts/recoleta-regular.ttf')  format('truetype'), url('../fonts/recoleta-regular.svg#recoleta-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
