.form-control, input {
	border-width: 0;
	box-shadow: none;
	border-radius: 0;
	background-color: transparent !important;
	color: $color-secondary;
	display: inline-block;
	padding: 0 3px;
	width: auto;
	height: auto;

	&::placeholder {
		color: $color-secondary;
	}
}

textarea.form-control {
	width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover, 
.form-control:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background-color: transparent;
}

.btn-xl {
	padding: $small-spacing/4 $base-spacing/4;
	border-color: $color-secondary;
	color: $color-secondary;
	border-radius: 0;
	font-family: $font-secondary;
	font-size: $h6-font-size;
	text-transform: none;

	&:hover {
		background-color: $color-secondary;
		color: $color-primary;
	}
}