$side-width: 10vw;
// @media(min-height: 375px) {
//   $side-width: 12ex;


html {
  width: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: $font-primary; //"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
	color: white;
	letter-spacing: 3px;
}

// HEADER

.main-image {
  margin: 6vh;
  width: auto;
  height: 88vh;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
  }
}

@media(orientation : landscape) {
  .main-image {
  }
}

@media(orientation: landscape) and (min-aspect-ratio: 3/2) {
  .main-image {
    width: 94vw;
    height: 88vh;
    margin: 3vw;

    img {
      height: auto;
      width: 100%;
    }
  }
}


// NAVIGATION
.navigation {
  font-size: $h5-font-size;
  font-family: "NowAltRegular";
  text-align: center;
  margin-bottom: $small-spacing;
  padding-top: $small-spacing;

  span {
    display: block;
  }

  .nav-link-current {
    font-family: $font-primary;
  }

  a {
    margin: 0 10px;

    &:hover {
      font-family: $font-primary;
    }
  }
}

@media(min-width: 768px) {
  .navigation {
    margin-left: $small-spacing;
    padding: $small-spacing 0;
    font-size: $h4-font-size;

    span {
      display: inline-block;
    }
  }
}



// PAGE 

.section-content {
  margin-left: $side-width;
  margin-right: 3%;
}

@media(min-width:768px) {
  .section-content {
    margin-left: $side-width;
    margin-right: 0;
  }
}

section#home, .primary-colors {
  background-color: $color-bg-secondary;
  color: $color-primary;

  a {
    color: $color-primary;
  }
}

section#contact, .contact, .secondary-colors {
  background-color: $color-bg-primary;
  color: $color-secondary;

  a {
    color: $color-secondary;
  }

  .side-fixed {
    color: $color-secondary;
  }


  .navigation {
    a {
      color: $color-secondary;
    }
  }
}

.grid-container-3col, 
.grid-container-2col,
.grid-container-1col {
  margin-bottom: $base-spacing;
}  


@media(min-width:768px) {
  .grid-container-3col {
      display: grid;
      margin-bottom: $base-spacing;
      grid-template-columns: [left] 5% [col1] 30% [gutter1] 3% [col2] 28% [gutter2] 3% [col3] 28% [gutter3] 3% [end];
      // grid-template-rows: 

      .column1 {
        grid-column-start: col1;
        grid-column-end: gutter1;
      }

      .column2 {
        grid-column-start: col2;
        grid-column-end: gutter2;
      }

      .column3 {
        grid-column-start: col3;
        grid-column-end: gutter3;
      }

      .full-width {
        grid-column-start: col1;
        grid-column-end: gutter3;
      }
  }

  .grid-container-2col {
      display: grid;
      margin-bottom: $base-spacing;
      grid-template-columns: [left] 5% [col1] 30% [gutter1] 3% [col2] auto [gutter2] 3% [end];
      // grid-template-rows: 

      .column1 {
        grid-column-start: col1;
        grid-column-end: gutter1;
      }

      .column2 {
        grid-column-start: col2;
        grid-column-end: gutter2;
      }
  }

  .grid-container-1col {
      display: grid;
      margin-bottom: $large-spacing;
      grid-template-columns: [left] 13% [col1] 75% [gutter] 12% [end];
      // grid-template-rows: 

      .full-width {
        grid-column-start: col1;
        grid-column-end: gutter;
        text-align: center;
      }
  }
}

.title {
  font-family: $font-primary;
  font-size: $h1-font-size;
}

.text-big {
  font-family: $font-primary;
  font-size: 6vw;
  line-height: $small-line-height;
  text-align: center;
}

@media(min-width:768px) {
  .text-big {
    font-size: $bigger-font-size;
  }
}

.main-text {
  font-family: $font-secondary;
  font-size: $base-font-size;
}


// FOOTER
.legal {
  margin-left: $side-width;
  padding: $small-spacing $small-spacing $small-spacing;

  .full-width {
    text-align: center;
  }
}



// HOME
.etage {
  padding: 32px 0;
}


// CONTACT
.team {
  display: flex;
  flex-wrap: wrap;

  .member {
    width: 173px;
    margin-right: 27px;

    img {
      width: 100%;
    }
  }
}

#home {
  .volcan {
    img {
      content: url("/assets/img/volcans/volcan_rouge_anime.gif");
    }
  }
}

#contact {
  .volcan {
    img {
      content: url("/assets/img/volcans/volcan_jaune_anime.gif");
    }
  }
}
