//Color settings (hex-codes without the leading hash-tag)

$color-primary: #FF0000;
$color-secondary: #FFF59B;    
$color-bg-primary: $color-primary;
$color-bg-secondary: $color-secondary;
 

//Font Families
$font-primary: ('NowAltmagma-Bold', 'NowAltRegular', 'Helvetica Neue',Helvetica,Arial,sans-serif);
$font-secondary: ('Recoleta-regular', 'Helvetica Neue', Helvetica,Arial,sans-serif);

$base-font-size:   1em !default;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;
$smaller-font-size: $base-font-size * 0.75;
$bigger-font-size: $base-font-size * 3.25;

// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-normal: 400;
$font-weight-light: 300;

// Line height
$base-line-height: 1.5;
$small-line-height: 1.2;
$base-spacing: $base-line-height * 3em;
$large-spacing: $base-line-height * 4em;
$small-spacing: $base-spacing / 2;
