<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index primary-colors">

    {% include header.html %}
    {% include home.html %}
    {% include footer.html%}
    {% include js.html %}

    </body>
</html>